[Desktop Entry]
Name=Touchpad (Qtile)
GenericName=Configuración de Touchpad
Comment=Activa o desactiva el touchpad en Qtile de forma rápida
Exec=/home/usuario/.local/bin/qtile-touchpad-setup
Icon=input-touchpad
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=touchpad;mouse;raton;qtile;activar;desactivar;
